/* Estilo para index.html */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
